# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.fleet/

# Go backend
back-end/matches.json
back-end/tic-tac-toe

# Godot
game-client/.godot/
game-client/build/
game-client/*.import
game-client/export_presets.cfg
game-client/index.*
game-client/*.wasm
game-client/*.pck
game-client/*.js
game-client/*.html
game-client/*.png
!game-client/icon.svg

# Docker
data/